<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Slide</title>
    <link href="./app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site-slide" style="padding-top: 50px; padding-bottom: 40px;">
      <div>
        <div class="header container-fluid">
          <h1 class="title">Wir uber uns</h1>
          <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus amet iaculis ac, faucibus amet sapien,. Velit amet, euismod.
          </p>
        </div>
        <div class="carousel w-100" id="slick-carousel">
          <div class="slick-item">
            <div class="featured-image" style="background-image: url('./media/1.png')"></div>
          </div>
          <div class="slick-item">
            <div class="featured-image" style="background-image: url('./media/2.png')"></div>
          </div>
          <div class="slick-item">
            <div class="featured-image" style="background-image: url('./media/3.png')"></div>
          </div>
        </div>
      </div>
      <div class="text-center" style="position: relative; margin-top: 40px;">
        <div class="slick-control text-center">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>